:root {
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --branding-color: #8c5ba8;
    --secondary-color: #f9f7fe;
}

nav {
    padding: 10px 0 0 0;
}
li {
    list-style: none;
    display: inline;
    padding: 0px 10px 0px 10px;
    font-family: var(--default-font-family);
    font-size: 16px;
    color: #272142;
}

li:hover {
    color: var(--branding-color);
    transition: all 100ms ease-in-out;
}

.active {
    color: var(--branding-color);
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero h1 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    line-height: 1;
}
.hero p {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 36px;
    color: #272142;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2.5;
    color: black;
}

.mainbuttom {
    text-decoration: none;
    padding: 15px 30px;
    background-color: var(--branding-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-family: var(--default-font-family);
    font-weight: 400;
    line-height: 120px;
}

.mainbuttom:hover {
    color: #272142;
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.explanation {
    padding: 70px 61px;
}

.explanation h2 {
    font-family: var(--heading-font-family);
    font-size: 64px;
}

.explanation p {
    font-family: var(--default-font-family);
    font-size: 16px;
    color: #272142B2;;
}

.explanation a {
    text-decoration: none;
    padding: 12px;
    border: 1px solid;
    border-color:var(--branding-color);
    font-family: var(--default-font-family);
    font-size: 16px;
    color: var(--branding-color);
    border-radius: 4px;
}

.explanation a:hover {
    color: black;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.about {
    padding-top: 80px;
    padding-left: 50px;

}
.about-explanation {
    padding-right: 50px;
    padding-top: 30px;
}

.about h1 {
    font-size: 64px;
    font-family: var(--heading-font-family);
}
.about h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
.about p {
    font-family: 16px;
    font-family: var(--default-font-family);
    font-weight: 200;
}
.work h1 {
    font-size: 64px;
    font-family: var(--heading-font-family);
    padding: 120px 100px 40px 80px;
}

.work h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
    font-weight: 700;
    text-align: center;
}
.work p {
    font-size: 14px;
    font-family: var(--default-font-family);
    font-weight: 400;
    color: #6c757d;
    text-align: center;
}
.workpagepics {
    display:block;
    margin: 0 auto;
    
}
 .viewproject {
    color: var(--branding-color);
    background-color: white;
    border: 1px solid;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5%;
    font-family: var(--default-font-family);
 }

 .viewproject:hover {
    color: white;
    background-color: var(--branding-color);
    transition: 210ms ease-in-out;
 }
    

.contact h1 {
    font-size: 64px;
    font-family: var(--heading-font-family);
    padding: 100px 30px 30px 30px;
}

.contact h2 {
    font-size: 26px;
    font-family: var(--default-font-family);
    padding: 0 0 0 30px;
}

.contact a {
    text-decoration: none;
    color: var(--branding-color);
    padding: 0 0 0 30px;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
}

.mail {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: var(--default-font-family);
}

.mail:hover {
    color: var(--branding-color);
}
.social-links {
    color: var(--branding-color);
    font-size: 20px;
    margin: 0 20px;
    background-color: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    
}

.social-links:hover {
    color: white;
    background-color: var(--branding-color);
    transition: all 150ms ease-in-out;
}

.footer-box {
    margin: 180px 0px 100px 0px;
    padding: 20px 110px;
    background-color: var(--secondary-color);
}

footer h3 {
    font-size: 48px;
    font-family: var(--heading-font-family);
}

footer p {
    font-size: 16px;
    text-align: left;
    font-family: var(--default-font-family);
    opacity: 80%;
}

.open-sourced {
    color: var(--branding-color);
    text-decoration: none;
}

.open-sourced:hover {
    text-decoration: underline;
}




@media (max-width: 570px) {
    .hero {
        padding: 130px 20px;
    }
    .hero h1 {
        font-size: 60px;
    }
    .hero h2 {
        font-size: 18px;
    }
    p {
        text-align: center;
    }

    .hero img {
        display: none;
    }
    .container {
        text-align: center;
    }
    .container h2 {
        font-size: 30px;
    }

    .about h1 {
        font-size: 60px;
        padding: 0;
        margin: 0;
    }
    .about {
        padding: 20px 10px;
    }

    .work h1 {
        font-size: 30px;
        padding: 5px;
        padding-bottom: 25px;
    }
    .workpagepics {
        padding: 0;
        margin: 0;
        width: 300px;
        display: block;
        margin: 0  auto;
    }
    .work h3 {
        font-size: 18px;
    }
    .work p {
        font-size: 12px;
    }
}